<%- include('header.ejs'); %>

<div class="container main-container">
  <div id="lib-selection-btns" class="btn-group">
    <% for (let type of libTypes) { %>
      <a class="btn btn-secondary <%= activeType === type ? 'active' : '' %>" href="/?type=<%= type %>" role="button"><%= type %></a>
    <% } %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% files.forEach(function(file) { %>
        <tr class="clickable-row <%= file.status == 'FAILED' ? 'table-danger' : '' %>" data-href="<%= 'reports/' + file.filename %>">
          <td><%= file.name %></td>
          <td><%= file.status %></td>
          <td><%= file.datetime %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('footer.ejs'); %>